
body {
/*    background-image: url("/assets/img/hardcore-bg.jpg");*/
    background-repeat: repeat;
    background-color: #cccccc;
}

hr {
    border-bottom-color: white;
    margin-bottom: 1em;
}

hr:last-child {
    border-bottom: none;
}